
// Define Font Family
h1, h2, h3, h4, h5, h6, p, textarea, input, span, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

$blue: #14213D;
$yellow: #FCA311;
$plat: #E5E5E5;
$white: #FFFFFF;
$black: #000000;